<div>
  <h2>Upload de Arquivo TXT</h2>
  <input type="file" (change)="onFileSelected($event)" accept=".txt">
  <div *ngIf="fileContent">
    <h3>Conteúdo do Arquivo:</h3>
    <pre>{{ fileContent }}</pre>
  </div>
  <div *ngIf="tokens.length > 0">
    <h3>Tokens:</h3>
    <table>
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let token of tokens">
          <td>{{ getTokenTypeName(token.type) }}</td>
          <td>{{ token.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
