<main class="main">

  <div class="main__substitle">
    <h2 class="main__substitle__tittle">Welcome to Candy Machine!</h2>
    <h3 class="main__substitle__coin">Coin: {{ valueAll }}</h3>
    <div class="main__substitle__description" *ngFor="let item of candy">
      <p class="main__substitle__description__select">Select {{ item.select }}: {{ item.name }} | Value: {{ item.value }}</p>
    </div>

  </div>

  <div class="main__sweets">
    <img class="main__sweets__photo" src="assets/crunch.jpeg" alt="">
    <img class="main__sweets__photo" src="assets/snickers.png" alt="">
    <img class="main__sweets__photo" src="assets/twix.jpeg" alt="">
  </div>

  <div class="main__insert">
    <p>Insert the coin:</p>
    <button class="main__insert__button" (click)="addOneValue()">1</button>
    <button class="main__insert__button" (click)="addTwoValue()">2</button>
    <button class="main__insert__button" (click)="addFiveValue()">5</button>
  </div>

  <div class="main__buy">
    <p>Select your candy:</p>
    <button class="main__buy__button" (click)="buySelectOne()">1</button>
    <button class="main__buy__button" (click)="buySelectTwo()">2</button>
    <button class="main__buy__button" (click)="buySelectThree()">3</button>
  </div>
</main>
