.div {
  display: flex;
  justify-content: center;
  align-items: center;
  &__photo {
    width: 70%;
    height: 70%;
    object-fit: cover;
    border: 2px solid #fff;
    transition: all 0.3s ease;
  }
}


